<div class="survey-frame">
    <div class="survey-modal-wrapper {{if showSidebar 'show-sidebar'}}">
        <div class="survey-modal">
          <div class="survey-nav">
            <div class="nav-section-wrapper">
              <button class="nav-section {{unless surveyRecord.visitedDemographics 'disabled'}} {{if (eq router.currentRouteName 'demographics') 'active'}}">
                Demographics
              </button>
              <button class="nav-section {{unless surveyRecord.visitedBudget 'disabled'}} {{if (eq router.currentRouteName 'budget') 'active'}}">
                Budget
              </button>
              <button class="nav-section {{unless surveyRecord.visitedLocation 'disabled'}} {{if (eq router.currentRouteName 'location') 'active'}}">
                Location
              </button>
              <button class="nav-section {{unless surveyRecord.visitedHousingType 'disabled'}} {{if (eq router.currentRouteName 'housing-type') 'active'}}">
                Housing Type
              </button>
              <button class="nav-section {{unless surveyRecord.visitedAmenities 'disabled'}} {{if (eq router.currentRouteName 'amenities') 'active'}}">
                Amenities
              </button>
            </div>
          </div>
            {{yield}}
        </div>
        <div class="survey-modal-sidebar">
            <div class="survey-budget-comparison">
                {{#paper-button raised=true class="sidebar-toggle"}}
                    {{paper-icon "menu" size="24"}}
                {{/paper-button}}
                <h4 class="section-header">Budget</h4>
                <div class="comparison-row comparison-header hidden">
                    <span class="left-col"></span>
                    <span class="mid-col">Budget</span>
                    <span class="right-col">Selection</span>
                </div>
                <div class="comparison-row">
                    <span class="left-col">Total Square Feet</span>
                    <span class="mid-col">{{surveyRecord.totalSquareFootage}}</span>
                    {{#if showSelection}}
                      <span class="right-col">3000</span>
                    {{/if}}
                </div>
                <div class="comparison-row">
                    <span class="left-col">Price Per Square Foot</span>
                    <span class="mid-col">${{surveyRecord.costPerSquareFoot}}</span>
                    {{#if showSelection}}
                      <span class="right-col">$1.75</span>
                    {{/if}}
                </div>
                <div class="comparison-row">
                    <span class="left-col">Total Monthly Payment</span>
                    <span class="mid-col">${{surveyRecord.totalBudget}}</span>
                    {{#if showSelection}}
                      <span class="right-col">$2500</span>
                    {{/if}}
                </div>
            </div>
            <div class="survey-selections">
                <h4 class="section-header">Location</h4>
                <div class="selection-image">
                    {{#paper-button raised=true mini=true class="edit-button"}}
                        {{paper-icon "mode-edit"}}
                    {{/paper-button}}
                </div>
                <h4 class="section-header">Housing Type</h4>
                <div class="selection-image">
                  {{surveyRecord.housingType.value}}
                    {{#paper-button raised=true mini=true class="edit-button"}}
                        {{paper-icon "mode-edit"}}
                    {{/paper-button}}
                </div>
                <h4 class="section-header">Unit Type</h4>
                <div class="selection-image">
                    {{#paper-button raised=true mini=true class="edit-button"}}
                        {{paper-icon "mode-edit"}}
                    {{/paper-button}}
                </div>
            </div>
        </div>
    </div>
</div>
