{{#survey-frame
  showSidebar=true
  showSelection=true}}
    <div class="survey-header">
        <h1>Amenities</h1>
        <p>Fill out some details about your preferred housing type</p>
    </div>
    <div class="survey-body">
        <div class="amenities">
            <div class="amenities-parking">
                <h4>Parking</h4>
                <hr>
                {{#each parkingStalls as |stall index|}}
                  <div class="amenities-parking-row">
                      <p>Parking Stall #{{add-one index}}</p>
                      {{#paper-radio-group
                        groupValue=(readonly stall.parkingType)
                        onChange=(action (mut stall.parkingType)) as |group|}}
                        {{#group.radio value="On Site" primary=true}} On Site {{/group.radio}}
                        {{#group.radio value="Near By" primary=true}} Nearby {{/group.radio}}
                      {{/paper-radio-group}}
                      {{#paper-button onClick=(action 'removeStall' stall)}}
                        {{paper-icon "remove-circle"}}
                        Remove
                      {{/paper-button}}
                    </div>
                  {{/each}}
                {{#paper-button onClick=(action 'addStall')}}
                    {{paper-icon "add-circle"}}
                    Add A Parking Stall
                {{/paper-button}}
            </div>
            <div class="amenities-building">
                <h4>Building Amenities</h4>
                <hr>
                <p>What would you like to have in your building?</p>
                <div class="amenities-list-wrapper">
                    <div class="amenities-list left">
                        <h5>Essential Amenities</h5>
                        {{#sortable-objects sortableObjectList=selectedAmenities class="amenities-list-inner" sortEndAction='addToAmenities' sortingScope='a'}}
                          {{#each selectedAmenities as |amenity|}}
                            {{#draggable-object content=amenity class="amenity" overrideClass='sortObject' isSortable=true sortingScope='a'}}
                              {{amenity}}
                            {{/draggable-object}}
                          {{/each}}
                        {{/sortable-objects}}
                    </div>
                    {{!--<div class="amenities-list-controls">--}}
                        {{!--{{#paper-button raised=true mini=true class="edit-button"}}--}}
                            {{!--{{paper-icon "arrow-back"}}--}}
                        {{!--{{/paper-button}}--}}
                        {{!--{{#paper-button raised=true mini=true class="edit-button"}}--}}
                            {{!--{{paper-icon "arrow-forward"}}--}}
                        {{!--{{/paper-button}}--}}
                    {{!--</div>--}}
                    <div class="amenities-list right">
                        <h5>Non-Essential Amenities</h5>
                        {{#sortable-objects sortableObjectList=amenities class="amenities-list-inner" sortEndAction='removeFromAmenities' sortingScope='a'}}
                          {{#each amenities as |amenity|}}
                            {{#draggable-object content=amenity class="amenity"overrideClass='sortObject' isSortable=true sortingScope='a'}}
                              {{amenity}}
                            {{/draggable-object}}
                          {{/each}}
                        {{/sortable-objects}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="survey-footer">
        {{#paper-link 'housing-type' class='back-btn' raised=true}}Back{{/paper-link}}
        {{#paper-button raised=true primary=true class='next-btn'}}
            {{#link-to 'thank-you'}}Finish{{/link-to}}
        {{/paper-button}}
    </div>
{{/survey-frame}}
