{{#survey-frame
  showSidebar=true}}
    <div class="survey-nav">
        <div class="nav-section-wrapper">
            {{#link-to 'demographics' class="nav-section section-end"}}
                Demographics
            {{/link-to}}
            {{#link-to 'budget' class="nav-section active"}}
                Budget
            {{/link-to}}
            {{#link-to 'location' class="nav-section disabled"}}
                Location
            {{/link-to}}
            {{#link-to 'housing-type' class="nav-section disabled section-end"}}
                Housing Type
            {{/link-to}}
            {{#link-to 'amenities' class="nav-section disabled"}}
                Amenities
            {{/link-to}}
        </div>
    </div>
    <div class="survey-header">
        <h1>Housing Cost Calculator</h1>
    </div>
    <div class="survey-body">
        <div class="budget">
            <h3>How many people live in your household?</h3>
            <div class="slider-with-input">
              {{paper-slider class="flex" min=1 max=7 value=surveyRecord.peopleInHousehold onChange=(action (mut surveyRecord.peopleInHousehold))}}
              {{paper-input type="number" min=1 value=surveyRecord.peopleInHousehold onChange=(action (mut surveyRecord.peopleInHousehold))}}
            </div>

            <h3>How many incomes are in your household?</h3>
            <div class="slider-with-input">
              {{paper-slider class="flex" min=1 max=7 value=surveyRecord.incomesInHousehold onChange=(action (mut surveyRecord.incomesInHousehold))}}
              {{paper-input type="number" value=surveyRecord.incomesInHousehold onChange=(action (mut surveyRecord.incomesInHousehold))}}
            </div>

            <h3 class="inline-block">What is your personal housing budget?</h3>
            <div class="help-hint">
                {{paper-icon "help" size=18}}
                <div class="popup bottom">
                    A good rule of thumb is not to spend over 30% on gross income on housing, or over 50% on a
                    combination of housing ant transportation.
                </div>
            </div>
            <div class="slider-with-input">
              {{paper-slider class="flex" min=300 max=2500 step=100 value=surveyRecord.housingBudget onChange=(action (mut surveyRecord.housingBudget))}}
              {{paper-input type="number" value=surveyRecord.housingBudget onChange=(action (mut surveyRecord.housingBudget))}}
            </div>

            {{!--<h3>How much sq. footage would you like to have per person?</h3>--}}
            {{!--<div class="slider-with-input">--}}
              {{!--{{paper-slider class="flex" min=300 max=1000 step=50 value=surveyRecord.squareFeetPerPerson onChange=(action (mut surveyRecord.squareFeetPerPerson))}}--}}
              {{!--{{paper-input type="number" value=surveyRecord.squareFeetPerPerson onChange=(action (mut surveyRecord.squareFeetPerPerson))}}--}}
            {{!--</div>--}}
            <h3>How many bedrooms?</h3>
            <div class="slider-with-input">
                {{paper-slider class="flex" min=1 max=4 value=bedrooms onChange=(action (mut bedrooms))}}
                {{paper-input type="number" min=1 value=bedrooms onChange=(action (mut bedrooms))}}
            </div>
            <h3>How many bathrooms?</h3>{{!-- TODO: Make this work in increments of 1/2, max at 2.5--}}
            <div class="slider-with-input">
                {{paper-slider class="flex" min=1 max=4 step=0.5 value=bathrooms onChange=(action (mut bathrooms))}}
                {{paper-input type="number" min=1 value=bathrooms onChange=(action (mut bathrooms))}}
            </div>
        </div>
    </div>
    <div class="survey-footer">
        {{#paper-button raised=true class='back-btn'}}
            {{#link-to 'demographics'}}Back{{/link-to}}
        {{/paper-button}}
        {{#paper-button raised=true primary=true class='next-btn' onClick=(action "continue")}}
          Continue
        {{/paper-button}}
    </div>
{{/survey-frame}}
