{{#survey-frame
  showSidebar=true}}
    <div class="survey-nav">
        <div class="nav-section-wrapper">
            {{#link-to 'demographics' class="nav-section section-end"}}
                Demographics
            {{/link-to}}
            {{#link-to 'budget' class="nav-section"}}
                Budget
            {{/link-to}}
            {{#link-to 'location' class="nav-section"}}
                Location
            {{/link-to}}
            {{#link-to 'housing-type' class="nav-section section-end active"}}
                Housing Type
            {{/link-to}}
        </div>
        <div class="nav-section-wrapper">
            {{#link-to 'housing-size' class="nav-section disabled"}}
                Unit Plan
            {{/link-to}}
            {{#link-to 'housing-quality' class="nav-section disabled"}}
                Quality
            {{/link-to}}
            {{#link-to 'amenities' class="nav-section disabled"}}
                Amenities
            {{/link-to}}
        </div>
    </div>
    <div class="survey-header">
        <h1>Housing Type</h1>
        <p>What type of home are you looking for?</p>
    </div>
    <div class="survey-body">
        <div class="housing-type">
            <div class="housing-type-family-toggle">
                <span>Rehab</span>
                {{#paper-switch class="paper-switch" value=housingTypePreference onChange=(action (mut housingTypePreference))}}
                    New Construction
                {{/paper-switch}}
            </div>
            <div class="housing-type-options-row">
                <div class="survey-hero-card">
                    <div class="survey-hero-options-row">
                        <div class="survey-hero-options-section">
                          {{#each housingTypes as |type|}}
                            <button class="survey-hero-option {{if (eq type.key housingType) "is-focused"}}" {{action "changeType" type.key}}>
                              {{type.value}}
                            </button>
                          {{/each}}
                        </div>
                    </div>
                    <div class="survey-card-image">
                        <h4>Housing Type</h4>
                        {{#paper-button raised=true mini=true class="hero-arrow back"}}
                            {{paper-icon "keyboard-arrow-left"}}
                        {{/paper-button}}
                        <div class="hero-image"></div>
                        {{#paper-button raised=true mini=true class="hero-arrow forward"}}
                            {{paper-icon "keyboard-arrow-right"}}
                        {{/paper-button}}
                        <p class="hero-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam laoreet imperdiet lectus sit amet gravida.
                            Pellentesque ac ligula ut tortor malesuada posuere nec non lectus.
                            Suspendisse scelerisque dui neque. Aliquam vel nisi sapien
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="survey-footer">
        {{#paper-button raised=true class='back-btn'}}
            {{#link-to 'location'}}Back{{/link-to}}
        {{/paper-button}}
        {{#paper-button raised=true primary=true class='next-btn'}}
            {{#link-to 'housing-size'}}Continue{{/link-to}}
        {{/paper-button}}
    </div>
{{/survey-frame}}
