{{#survey-frame
  showSidebar=true}}
    <div class="survey-nav">
        <div class="nav-section-wrapper">
            {{#link-to 'demographics' class="nav-section section-end"}}
                Demographics
            {{/link-to}}
            {{#link-to 'budget' class="nav-section"}}
                Budget
            {{/link-to}}
            {{#link-to 'location' class="nav-section active"}}
                Location
            {{/link-to}}
            {{#link-to 'housing-type' class="nav-section disabled section-end"}}
                Housing Type
            {{/link-to}}
        </div>
        <div class="nav-section-wrapper">
            {{#link-to 'housing-size' class="nav-section disabled"}}
                Unit Plan
            {{/link-to}}
            {{#link-to 'housing-quality' class="nav-section disabled"}}
                Quality
            {{/link-to}}
            {{#link-to 'amenities' class="nav-section disabled"}}
                Amenities
            {{/link-to}}
        </div>
    </div>
    <div class="survey-header">
        <h1>Location Preference</h1>
        <p>Where would you like to live?</p>
    </div>
    <div class="survey-body">
        <div class="location">
            <div class="location-age-toggle">
                <span>New Neighborhood</span>
                {{#paper-switch class="paper-switch" value=locationPreference onChange=(action (mut locationPreference))}}
                    Existing
                {{/paper-switch}}
            </div>
            <div class="location-options-row">
                <div class="survey-hero-card">
                    <div class="survey-hero-options-row">
                        <div class="survey-hero-options-section">
                            <button class="survey-hero-option {{if suburban 'is-focused'}}" {{action "setType" "suburban"}}>
                                Suburban
                            </button>
                            <button class="survey-hero-option {{if complete 'is-focused'}}" {{action "setType" "complete"}}>
                                Complete
                            </button>
                            <button class="survey-hero-option {{if center 'is-focused'}}" {{action "setType" "center"}}>
                                Center
                            </button>
                        </div>
                    </div>
                  <div class="survey-card-image">
                    {{#if suburban}}
                      {{#paper-button raised=true mini=true class="hero-arrow back" onClick=(action 'setType' 'center')}}
                            {{paper-icon "keyboard-arrow-left"}}
                        {{/paper-button}}
                        <div class="hero-image"></div>
                        {{#paper-button raised=true mini=true class="hero-arrow forward" onClick=(action 'setType' 'complete')}}
                            {{paper-icon "keyboard-arrow-right"}}
                        {{/paper-button}}
                        <p class="hero-description">Some suburban stuff
                        </p>
                    {{else if complete}}
                      {{#paper-button raised=true mini=true class="hero-arrow back" onClick=(action 'setType' 'suburban')}}
                            {{paper-icon "keyboard-arrow-left"}}
                        {{/paper-button}}
                        <div class="hero-image"></div>
                        {{#paper-button raised=true mini=true class="hero-arrow forward" onClick=(action 'setType' 'center')}}
                            {{paper-icon "keyboard-arrow-right"}}
                        {{/paper-button}}
                        <p class="hero-description">Some complete stuff
                        </p>
                    {{else if center}}
                      {{#paper-button raised=true mini=true class="hero-arrow back" onClick=(action 'setType' 'complete')}}
                            {{paper-icon "keyboard-arrow-left"}}
                        {{/paper-button}}
                        <div class="hero-image"></div>
                        {{#paper-button raised=true mini=true class="hero-arrow forward" onClick=(action 'setType' 'suburban')}}
                            {{paper-icon "keyboard-arrow-right"}}
                        {{/paper-button}}
                        <p class="hero-description">
                          Some center stuff
                        </p>
                    {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="survey-footer">
        {{#paper-button raised=true class='back-btn'}}
            {{#link-to 'demographics'}}Back{{/link-to}}
        {{/paper-button}}
        {{#paper-button raised=true primary=true class='next-btn'}}
            {{#link-to 'housing-type'}}Continue{{/link-to}}
        {{/paper-button}}
    </div>
{{/survey-frame}}
