{{#survey-frame
        showSidebar=true}}
    <div class="survey-header">
        <h1>Location Preference</h1>
        <p>Where would you like to live?</p>
    </div>
    <div class="survey-body">
        <div class="location">
            <div class="location-options-row">
                <div class="survey-hero-card">
                    <div class="survey-hero-options-row">
                            <button class="survey-hero-option {{if suburban 'is-focused'}}" {{action "setType" "suburban"}}>
                                Suburban
                            </button>
                            <button class="survey-hero-option {{if complete 'is-focused'}}" {{action "setType" "complete"}}>
                                Complete
                            </button>
                            <button class="survey-hero-option {{if center 'is-focused'}}" {{action "setType" "center"}}>
                                Center
                            </button>
                    </div>
                    <div class="survey-card-image">
                        <div class="thumbnails-col">
                            <div class="thumbnail">

                            </div>
                            <div class="thumbnail">

                            </div>
                            <div class="thumbnail">

                            </div>
                            <div class="thumbnail">

                            </div>
                            <div class="thumbnail">

                            </div>
                            <div class="thumbnail">

                            </div>
                        </div>
                        <div class="hero-image-wrapper">
                            {{#if suburban}}
                                <h4>Image Title</h4>
                                <div class="hero-image"></div>
                                <p class="hero-description">
                                    Image Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos labore nostrum officia quos vero? Alias cum dolore earum explicabo fugit odio totam! Corporis impedit laudantium quos saepe sequi unde veritatis?
                                </p>
                            {{else if complete}}
                                <h4>Image Title</h4>
                                <div class="hero-image"></div>
                                <p class="hero-description">
                                    Image Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci aliquid aperiam architecto blanditiis cumque doloremque dolores eius exercitationem fugiat, laboriosam maiores odio, quaerat reiciendis sed tempora velit voluptatem.
                                </p>
                            {{else if center}}
                                <h4>Image Title</h4>
                                <div class="hero-image"></div>
                                <p class="hero-description">
                                    Image Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eligendi excepturi id in libero numquam rem sunt tenetur veniam! Cupiditate exercitationem ipsa perspiciatis quaerat qui quis recusandae sapiente sed veritatis!
                                </p>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="survey-footer">
        {{#paper-button raised=true class='back-btn'}}
            {{#link-to 'demographics'}}Back{{/link-to}}
        {{/paper-button}}
        {{#paper-button raised=true primary=true class='next-btn' onClick=(action 'continue')}}
            Continue
        {{/paper-button}}
    </div>
{{/survey-frame}}
